.header__row {
	margin: 0 auto;
	max-width: 960px;
	padding: 1.45rem 1.0875rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link {
	color: white;
	margin: 0 1rem;
}
